body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

}

.card-container {
    width: 20em;
    background-color: red;
    border: 4 em solid black;
    border-radius: 3em;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

/* check for image width from Rocco's video | for now width is AUTO*/

.property-image {
    width: auto;
}

.insert-bulletpoint {
    list-style-type: disc;
}

.room-icons{
    width: 2em;
    padding-right: 0.5em;
}

.make-uppercase {
    text-transform:uppercase;
}

.make-strong {
    font-weight: 700;
    padding-right: 0.5em; /* Could have made a class for this, but due to fwe use cases thought it suffcient */
}

.make-large {
    font-size: large;
}

.make-small {
    font-size: small; /* Not completely satisfied with the text-size */
}

.overview-info {
    background-color: white;
    padding-left: 1em;
}

.inhouse-units {
    background-color: white;
    /* margin: 1em; */
    /* border-bottom: 1 em solid black; */
}

.rooms {
    list-style-type: none;
    padding-inline-start: 1em;
    /* margin-block-start: 1em;
    margin-block-end: 1em; */
}

.contact {
    background-color: lightgray;
    padding-left: 1em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;

    /* margin-block-start: 0em;     Put these here because I wanted the paragraphs block elements to reset their margin properties but that probably got overuled becuase the block elements came later
    margin-block-end: 0em; */

    
}

.reduce-margin {
    margin-block-start: 0.25em;
    margin-block-end: 0.5em;
}